name: shell-test

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  shell-tests:
    name: Shell Tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      
      - name: Install bats
        run: |
          git clone https://github.com/bats-core/bats-core.git
          cd bats-core
          sudo ./install.sh /usr/local
      
      - name: Run tests
        run: bats *.bats 